<div class="modal-overlay" (click)="onBackdropClick($event)">
  <div class="modal-container">
      <div class="modal-header">
          <h2>{{title}}</h2>
          <button class="btn-close" (click)="onClose()" title="Cerrar">×</button>
      </div>
      <div class="modal-content">
          <div [innerHTML]="description" class="description"></div>
      </div>
      <div class="modal-footer">
          <button class="btn-secondary" (click)="onClose()">No</button>
          <button class="btn-primary" (click)="onClose(true)">Sí</button>
      </div>
  </div>
</div>