<footer class="app-footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Ludoteca Tan</h4>
            <p>By Javier Tomás Tormo</p>
            </div>

            <div class="footer-section links">
        <h4>Enlaces rápidos</h4>
            <ul>
            <li><a routerLink="/clients">Clientes</a></li>
                <li><a routerLink="/categories">Categorías</a></li>
                    <li><a routerLink="/loans">Préstamos</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Contacto</h4>
            <p><mat-icon>email</mat-icon> javier.tomas-torno.exteral&#64;capgemini.com</p>
        </div>
    </div>
</footer>